<h1>Administrators Page</h1>
<p><%= current_user.name %></p>
<h2>User</h2>
<table>
  <thead>
  <tr>
    <th>User Name</th>
    <th>User type</th>
    <th>Create new admin user</th>
  </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= current_user.name %></td>
      </tr>
  </tbody>
</table>